<div class="container">
  <h1>Nova Turma</h1>
  <form>

    <div class="form-group">
      <label for="nome">Nome</label>
      <input type="text"
             class="form-control"
             id="nome"
             required
             [(ngModel)]="model.nome" name="nome"
      >
    </div>

    <div class="form-group">
      <label for="professor">Nome Professor</label>
      <input type="text"
             class="form-control"
             id="professor"
             required
             [(ngModel)]="model.professor" name="professor"

      >
    </div>

    <div class="form-group">
      <label for="turno">Turno</label>
      <select class="form-control"  id="turno"
              required
              [(ngModel)]="model.turno" name="turno">
        <option *ngFor="let turno of ['manha', 'tarde', 'noite']" [value]="turno">{{turno}}</option>
      </select>
    </div>

    <button (click)="onSubmit()" type="submit" class="btn btn-success">Add</button>
  </form>
</div>
