<div class="container">
  <div class="row justify-content-center">
    <div class="col-4">
      <mat-spinner *ngIf="turma.id === 0"></mat-spinner>

      <div *ngIf="turma.id !== 0" id="turma-detail-container">
        <h2 id="turma-name">{{turma.nome | uppercase}} Details</h2>
        <app-confirm-dialog
          id="delete-turma-button"
          [buttonLabel]="'Delete'"
          [header]="'Delete'" [message]="'Deseja deletar a turma ' + turma.nome"
          (event)="delete($event)"
        >
        </app-confirm-dialog>

        <button class="btn btn-primary ml-2" (click)="editMode = !editMode">{{editMode ? 'Disable' : 'Enable'}} Edit
        </button>

        <div class="container">
          <form>
            <fieldset [disabled]="!editMode">
              <div class="form-group">
                <label for="nome">Nome</label>
                <input type="text"
                       class="form-control"
                       id="nome"
                       required
                       [(ngModel)]="turma.nome" name="nome"
                >
              </div>

              <div class="form-group">
                <label for="professor">Nome Professor</label>
                <input type="text"
                       class="form-control"
                       id="professor"
                       required
                       [(ngModel)]="turma.professor" name="professor"

                >
              </div>

              <div class="form-group">
                <label for="turno">Turno</label>
                <select class="form-control"  id="turno"
                        required
                        [(ngModel)]="turma.turno" name="turno">
                  <option *ngFor="let turno of ['manha', 'tarde', 'noite']" [value]="turno">{{turno}}</option>
                </select>
              </div>

              <button (click)="update()" type="submit" class="btn btn-success">Update</button>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
