  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">

    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/turmas">Turmas</a>
        <a class="nav-item nav-link" routerLink="/alunos">Alunos</a>
        <a class="nav-item nav-link" routerLink="/novoAluno">Adicionar Aluno</a>
        <a class="nav-item nav-link" routerLink="/novaTurma">Adicionar Turma</a>
        <form class="form-inline">
          <app-search></app-search>
        </form>
      </div>
    </div>

  </nav>

  <router-outlet></router-outlet>
