<div class="container" id="turmas-container">
  <h2>
    Lista de Turmas:
  </h2>
  <input #searchBox id="filter-box" (keyup)="filter(searchBox.value)" placeholder="Filtrar Turmas"/>
  <div class="row">
    <mat-card class="turma-card col-3" *ngFor="let turma of turmas">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <a mat-card-title  routerLink="/turmaDetail/{{turma.id}}">{{turma.nome | slice:0:12}}</a>
        <mat-card-subtitle>{{turma.professor}}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content >
        <p>
          {{ ('Aqui uma breve descricao da turma de ' + turma.nome | slice:0:40) + '...'}}
        </p>
      </mat-card-content>
      <mat-card-actions>
        <!--[autoClose]="false" triggers="manual" #t="ngbTooltip" (mouseover)="t.open()"-->
        <button mat-icon-button ngbTooltip="Ver Turma"
                class="view-button"
                routerLink="/turmaDetail/{{turma.id}}"><i class="fas fa-eye"></i></button>
        <button mat-icon-button ngbTooltip="Editar turma"
                class="edit-button"
                routerLink="/turmaDetail/{{turma.id}}/edit"><i class="fas fa-edit"></i></button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
